# Diese Datei enthält die Europace2 Oauth2 Konfiguration sowie eine Liste aller Scope-Definitionen. 
#
# Das Format ist
# domäne:ressource:aktion: |
# ## UI Label
# Weiterführende Dokumentation

type: oauth2
description: |
  This API uses OAuth 2 with the client credentials flow. [More info](https://auth0.com/docs/flows/concepts/client-credentials). 
  Der Europace Authorization Server ist erreichbar unter https://api.europace.de/.well-known/oauth-authorization-server."
flows:
  clientCredentials:
    tokenUrl: https://api.europace.de/auth/token
    scopes: # Siehe auch https://swagger.io/specification/ (OAuth Flow Object - Scopes)
      partner:stammdaten:lesen: |
        ## Darf Partner-Daten lesen
        TODO Beschreibung
      partner:stammdaten:schreiben: |
        ## Darf Partner-Daten schreiben
        TODO Beschreibung
      partner:beziehungen:lesen: |
        ## Darf Beziehungen zwischen Partnern lesen
        TODO Beschreibung
      partner:beziehungen:schreiben: |
        ## Darf Beziehungen zwischen Partnern schreiben
        TODO Beschreibung
        
      reporting:rohdaten:lesen: |
        ## Darf im Partnermanagement den Rohdaten-Report runterladen
        TODO Beschreibung
      reporting:produktanbieterreport:lesen: |
        ## Darf im Partnermanagement den produktanbieterreport runterladen
        TODO Beschreibung
        
      baufi-vertrieb:echtgeschaeft: |
        ## Baufinanzierung-Echtgeschäft bearbeiten
      baufi-vertrieb:vorgang:lesen: |
        ## Baufinanzierungsvorgänge lesen
      baufi-vertrieb:vorgang:schreiben: |
        ## Baufinanzierungsvorgänge schreiben
      baufi-vertrieb:vorgang:anlegen: |
        ## Baufinanzierungsvorgänge anlegen
      baufi-vertrieb:vorgang:loeschen: |
        ## Baufinanzierungsvorgänge löschen
      baufinanzierung:antrag:lesen: |
        ## Baufinanzierungsanträge lesen
      baufinanzierung:antrag:schreiben: |
        ## Baufinanzierungsanträge schreiben
      
      privatkredit:angebot:ermitteln: |
        ## Kreditsmartangebote ermitteln
      privatkredit:antrag:schreiben: |
        ## Kreditsmartanträge schreiben
      privatkredit:vorgang:lesen: |
        ## Kreditsmartvorgänge lesen
      privatkredit:vorgang:schreiben: |
        ## Kreditsmartvorgänge schreiben
        
      impersonieren: |
        ## Impersonieren
      openid: |
        ## Benutzer-Login durchführen
      profile: |
        ## Benutzerprofil lesen
        
    requiredAuthorities:
      partner:stammdaten:lesen:
        - DARF_EINSTELLUNGEN_OEFFNEN
      partner:stammdaten:schreiben:
        - DARF_EINSTELLUNGEN_OEFFNEN
        - DARF_ORGA_EINHEITEN_ANLEGEN
      partner:beziehungen:lesen:
        - DARF_EINSTELLUNGEN_OEFFNEN
      partner:beziehungen:schreiben:
        - DARF_EINSTELLUNGEN_OEFFNEN
        - DARF_ORGA_EINHEITEN_ANLEGEN
    
      baufi-vertrieb:echtgeschaeft: 
        - BS_SICHTBAR
        - ECHTES_GESCHAEFT_ERLAUBT
      baufi-vertrieb:vorgang:lesen:
        - BS_SICHTBAR
      baufi-vertrieb:vorgang:schreiben:
        - BS_SICHTBAR
      baufi-vertrieb:vorgang:anlegen:
        - BS_SICHTBAR
      baufi-vertrieb:vorgang:loeschen:
        - BS_SICHTBAR
      baufinanzierung:antrag:lesen:
        - BS_SICHTBAR
      baufinanzierung:antrag:schreiben:
        - BS_SICHTBAR
        
      privatkredit:angebot:ermitteln:
        - KREDIT_SMART_SICHTBAR
      privatkredit:antrag:schreiben:
        - KREDIT_SMART_SICHTBAR
      privatkredit:vorgang:lesen:
        - KREDIT_SMART_SICHTBAR
      privatkredit:vorgang:schreiben: 
        - KREDIT_SMART_SICHTBAR
        
      impersonieren:
        - DARF_EINSTELLUNGEN_OEFFNEN
       
