openapi: 3.0.3
tags:
  - name: Silent-Sign-In
info:
  title: ssi-api
  version: v1.0
  description: Europace's Silent Sign-In API allows users to sign in through an OAuth client and invoke the Europace user interface in the browser.
  contact:
    name: Europace AG
    url: 'http://docs.api.europace.de'
    email: info@europace.de
  termsOfService: 'https://docs.api.europace.de/nutzungsbedingungen/'
servers:
  - url: 'https://www.europace2.de/authorize'
    description: production server
externalDocs:
  url: 'https://docs.api.europace.de/common/authentifizierung/ssi-api/'
paths:
  /silent-sign-in:
    parameters: []
    post:
      summary: create Silent-Sign-In OTP
      operationId: create-ssi-otp
      responses:
        '200':
          description: Created - otp created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/otp'
              examples:
                example-1:
                  value:
                    otp: EGSY53CGGSXZBWGMSPBZD2ILAKCF6J53
        '401':
          description: Unauthorized - access-token has expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Scopes silent-sign-on is not present
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: |-
        Generates on-time-password (otp) from the access-token for the browser redirect. 

        If the OAuth client is registered on an organization, then impersonation must be done for the user with the client. The subject of the access-token is used as the user of the silent sign-in. As security, the subject is also expected and checked as a parameter. 
      security:
        - europace_oauth2: []
      tags:
        - Silent-Sign-In
      parameters:
        - schema:
            type: string
          in: query
          name: subject
          description: subject to sign-in
          required: true
    get:
      summary: open Silent-Sign-In
      operationId: open-ssi
      responses:
        '303':
          description: See Other
          headers:
            Location:
              schema:
                type: string
                format: uri-reference
              description: redirect_uri with Session
        '403':
          description: Forbidden - otp invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
        - schema:
            type: string
            example: /uebersicht
            format: uri-reference
          in: query
          name: redirect_uri
          description: relative uri from Europace
          required: true
        - schema:
            type: string
            format: uuid
            minLength: 32
            maxLength: 32
          in: query
          name: otp
          description: one-time-password
          required: true
        - schema:
            type: string
          in: query
          name: subject
          description: subject to sign-in
          required: true
      description: Browser endpoint that checks the one-time password and redirects to the requested endpoint with a Europace session.
      tags:
        - Silent-Sign-In
components:
  securitySchemes:
    europace_oauth2:
      type: http
      scheme: bearer
      description: 'partner:login:silent-sign-in'
  schemas:
    otp:
      title: one-time-password
      type: object
      description: One-Time-Password für Silent-Sign-In
      properties:
        otp:
          type: string
          format: uuid
          minLength: 32
          maxLength: 32
          description: one-time-password
      x-examples: {}
    Error:
      title: Error
      type: object
      properties:
        message:
          type: string
        traceId:
          type: string
      required:
        - message
security:
  - europace_oauth2: []
