name: "Create Scopes Doc"

on:
  push:
    branches: 
      - master
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml
        
      - name: Check yaml files
        run: |
          python .github/workflows/scripts/scopes-doc.py -i europace_security.yaml > docs/scopes.md
        
      - name: Commit files
        run: |
          echo ${{ github.ref }}
          git add .
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Updated Scopes Doc" -a | exit 0
    
      - name: Push changes
        if: github.ref == 'refs/heads/master'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
